{% extends "register/base_auth.html" %}
{% block content %}
<div class="row">
    <div class="card col-md-6 margin_auto">
        <div class="card-body">
            <h2 class="login_title">ログイン</h2>
            <form action="{% url 'register:login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr class="hr">
                {% endfor %}
                <a href="{% url 'register:password_reset' %}" class="login_link" >パスワードを忘れた方</a>
                <button type="submit" class="btn btn-success btn-lg btn-block" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                <a href="{% url 'register:user_create' %}" class="login_link" >会員登録がまだの方</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}