{% extends "register/base_auth.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">企業名</th>
      <th scope="col">詳細</th>
      <th scope="col">企業名変更</th>
      <th scope="col">削除</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">株式会社イードア</th>
      <td>詳細</td>
      <td>変更</td>
      <td>削除</td>
    </tr>
    <tr>
      <th scope="row">株式会社北の達人コーポレーション</th>
      <td>詳細</td>
      <td>変更</td>
      <td>削除</td>
    </tr>
    <tr>
      <th scope="row">株式会社チームラボエンジニアリング</th>
      <td>詳細</td>
      <td>変更</td>
      <td>削除</td>
    </tr>
  </tbody>
</table>
{% endblock %}