{% extends "register/base_auth.html" %}
{% block content %}
<h2 class="login_title">面接企業一覧</h2>
<p class="text-center">面接は事前の準備が大変重要です。その為にも、面接を実施した後の振り返りをしっかり行い、次の面接に活かしていきましょう！</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">企業名</th>
      <th scope="col">面接振り返り</th>
      <th scope="col">企業名変更</th>
      <th scope="col">削除</th>
    </tr>
  </thead>
  <tbody>
  {% for company in companies %}
    <tr>
      <th scope="row">{{ company.company_name }}</th>
      <td><a href="{% url 'interview:top' company.id %}">振り返り</a></td>
      <td><a href="{% url 'company:update' company.id %}">変更</a></td>
      <td><a href="{% url 'company:delete' company.id %}">削除</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}