{% extends "register/base.html" %}
{% block content %}
<div class="row">
    <div class="card col-md-6 margin_auto">
        <div class="card-body">
            <h2 class="login_title">面接振り返り編集</h2>
            <h5 class="login_title">{{ interview_obj.company_id.company_name }}</h5>
            <p>{{ interview_obj.company_id.company_name }}の面接の振り返りをしてみましょう！以下フォームから面接時の情報を編集して下さい。</p>
            <form method="post" action="">
            {% csrf_token %}
                <div class="form-group">
                    <p>{{ form.errors.selection_phase }}</p>
                  　<label for="company_name">{{form.selection_phase.label}}</label>
                  　{{form.selection_phase}}
              　</div>
                <div class="form-group">
                　  <p>{{ form.errors.selection_date }}</p>
                  　<label for="company_name">{{form.selection_date.label}}</label>
                  　{{form.selection_date}}
              　</div>
                <div class="form-group">
                　  <p>{{ form.errors.question }}</p>
                  　<label for="company_name">{{form.question.label}}</label>
                  　{{form.question}}
              　</div>
                <div class="form-group">
                　  <p>{{ form.errors.reflection }}</p>
                  　<label for="company_name">{{form.reflection.label}}</label>
                  　{{form.reflection}}
              　</div>
                <div class="form-group">
                　  <p>{{ form.errors.other }}</p>
                  　<label for="company_name">{{form.other.label}}</label>
                  　{{form.other}}
              　</div>
              <button type="submit" class="btn btn-success btn-lg btn-block">更新</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}