{% extends "register/base.html" %}
{% block content %}
    <h2 class="login_title">面接振り返り</h2>
    <h5 class="login_title">{{ company.company_name }}</h5>
    <p class="text-center main_contets margin_auto">{{ company.company_name }}の面接を振り返ってみましょう！</p>
    <a class="btn btn-primary register_button_margin" href="{% url "interview:register" company.id  %}" role="button">新規登録</a>
    {% if interviewes %}
    {% for interview in interviewes %}
        <div class="card bg-light mb-3 margin_auto main_contets">
          <div class="card-header font-weight-bold text-center">
              {% if interview.selection_phase %}
                  {{ interview.selection_phase }}
              {% else %}
                  登録なし
              {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">★選考日程</h5>
            <p class="card-text font-weight-bold">
                {% if interview.selection_date %}
                  {{ interview.selection_date }}
              　{% else %}
                  登録なし
              　{% endif %}
            </p>
            <h5 class="card-title">★聞かれた質問・回答</h5>
            <p class="card-text font-weight-bold">
                {% if interview.question %}
                  {{ interview.question}}
              　{% else %}
                  登録なし
              　{% endif %}
            </p>
            <h5 class="card-title">★振り返り</h5>
            <p class="card-text font-weight-bold">
                {% if interview.reflection %}
                  {{ interview.reflection}}
              　{% else %}
                  登録なし
              　{% endif %}
            </p>
            <h5 class="card-title">★その他</h5>
            <p class="card-text font-weight-bold">
                {% if interview.other %}
                  {{ interview.other}}
              　{% else %}
                  登録なし
              　{% endif %}
            </p>
            <a class="btn btn-warning" href="{% url "interview:update" interview.id %}" role="button">変更</a>
            <a class="btn btn-danger" href="{% url "interview:delete" interview.id %}" role="button">削除</a>
          </div>
        </div>
    {% endfor %}
    {% else %}
        <p class="text-center main_contets margin_auto">データがありません。</p>
    {% endif %}
{% endblock %}